.header-section{
    margin-bottom: 30px;
}
.header-section h1{
    font-family: var(--header-font);
    font-size: 32px;
}
.header-section h2{
    font-size: 16px;
    color: var(--black);
    font-weight: normal;
}

.view-membership-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    max-width: 900px;
    margin-inline: auto;
}

.view-membership-header button{
    height: 36px;
    padding-inline: 20px;
    background-color: var(--secondary-color);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.view-membership-header input{
    height: 30px;
    padding: 10px;
    width: 400px;
    border-radius: 5px;
    border: none;
    background-color: #CCCCCC;
}

.view-membership-header input:focus{
    border-color: var(--secondary-color);
}

.membership-card-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 60px 30px;
    
    justify-content: space-between;
    
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    max-height: 600px;
    overflow-y: auto;
    padding-bottom: 60px;
    padding-top: 10px;
    padding-inline: 20px;
}
.membership-card h1{ 
    font-family: var(--header-font);
    font-size: 24px;
    font-weight: 300;
}
.membership-card{
    height: 136px;
    width: 230px;
    display: grid;
    grid-template-rows: 14px 122px  40px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0,0,0,.43);
}
.membership-card > img{
    width: 230px;
    height: 14px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.membership-card-info{
    height: 124px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    color: var(--black);
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.membership-card-info h1{
    margin-inline: 0!important;
}

.membership-card-info h2{
    display: block;
    margin-top: auto;
    margin-left: auto;
    font-size: 18px;
}

.membership-card-info h1{
    width: 180px;
    overflow-y: auto;
    white-space: nowrap;
}

.membership-card-info-duration{
    display: flex;
    gap: 3px;
    margin-bottom: 5px;
}

.membership-card-info-duration img{
    width: 11.37px;
}

.membership-card-info-tag{
    height: 21px;
    border: 2px solid var(--secondary-color);
    width: max-content;
    padding-inline: 6px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: white;
    color: var(--secondary-color);
    font-weight: BOLD;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;
}

.membership-card-actions{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.view-membership-header button:hover{
    background-color: #EF4444;
    transition: background-color 0.3s ease-in-out;
}
.edit-btn-crud:hover{
    background-color: #1a438b;
    transition: background-color 0.3s ease-in-out;
}
.delete-btn-crud:hover{
    background-color: var(--secondary-color);
    transition: background-color 0.3s ease-in-out;
}

.delete-confirmation p{
    font-size: 18px!important;
    min-height: 100px;
}









